@import "../../../utils/tokens/colors.scss";

.container {
  padding: 8px;
  margin: 8px;
  background-color: $background-navbar;
  color: $typo-medium;
  border-radius: 8px;
  position: relative;

  .active & {
    background-color: white;
    color: $typo-high;

    .label {
      font-weight: 500;
    }
  }

  .anchorList {
    padding: 8px 0 0 0;
    visibility: hidden;

    .active & {
      visibility: visible;
    }

    .anchor {
      color: $typo-medium;
      padding: 4px 0;
    }
  }
}

